/* original style sheet */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(236, 236, 236);
  font-size: 1.1rem;
  line-height: 1.3;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  margin: 7px;
  border-radius: 5px;
  background: rgb(236, 236, 236);
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}




.title{
    text-align:center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "roboto";

}
.footer_a{
    text-align:left;
    font-family: "roboto";
    font-size: 10px;
}
.footer_b{
    text-align:left;
    font-family: "roboto";
    font-style: italic;
    font-size: 15px;
}
.div0{
    padding: 10px;
    border: 1px solid #999;
}
.div1{
    padding: 10px;
    border: 1px solid #999;
}
.div2{
    padding: 10px;
    border: 1px solid #999;
}
.div2_spacer{
    padding: 10px;
}
.top_spacer{
    margin-top: 20px;
}
}
.bottom_spacer{
    margin-bottom: 20px;
}



.dropdown{
    padding: 40px;
    margin-bottom: 20px;
}
.inside_dropdown{
    margin-right: 40px;
}
.nutrition{
    margin-right: 10px;
}
.transit{
    margin-right: 10px;
}
.modifier{
    margin-right: 10px;
}
.services{
    padding: 20px;
    margin-left: 40px;
    font-style: italic;
    font-family: "Roboto Mono";
    border: 1px solid #999;
}